.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #F0DA9B;
    background: transparent;
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgba(72,71,95, 1);
    font-size: 16px;
}

textarea {
  outline: none;
  border: none;
  border-bottom: 1px solid #F0DA9B;
  background: transparent;
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgba(72,71,95, 1);
  font-size: 16px;
}

::placeholder {
  color: #48475F;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

